/* 页脚与头图透明 */

#footer {
    background: transparent !important;
}

#page-header {
    background: transparent !important;
}


/* 白天模式遮罩透明 */

#footer::before {
    background: transparent !important;
}

#page-header::before {
    background: transparent !important;
}


/* 夜间模式遮罩透明 */

[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}


/* 一级菜单居中 */

#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}


/* 子菜单横向展示 */

#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
}


/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */

.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
}


/* 夜间模式菜单栏发光字 */

[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
    text-shadow: 0 0 2px var(--theme-color) !important;
}


/* 手机端适配 */

[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
    text-shadow: 0 0 2px var(--theme-color) !important;
}


/* 翻页按钮居中 */

#pagination {
    width: 100%;
    margin: auto;
}


/* 鼠标样式 */

#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    /* 这里改变跟随的底色 */
    background: rgb(57, 197, 187);
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}

:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}


/* 首页文章卡片 */

#recent-posts>.recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}


/* 首页侧栏卡片 */

#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}


/* 文章页、归档页、普通页面 */

div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}


/* 导航栏 */

#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}


/* 夜间模式遮罩 */

[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}


/* 夜间模式页脚页头遮罩透明 */

[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}


/* 阅读模式 */

.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}


/* 夜间模式下的阅读模式 */

[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}


/* 侧边栏个人信息卡片动态渐变色 */

#aside-content>.card-widget.card-info {
    background: linear-gradient( -45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* 黑夜模式适配 */

[data-theme="dark"] #aside-content>.card-widget.card-info {
    background: #191919ee;
}


/* 个人信息Follow me按钮 */

#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 7rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    /* linear-gradient(to right, #3494e6, #ec6ead) */
    background: linear-gradient(to right, #43cea2, #3866ca);
    animation: gradient 2s ease infinite;
    background-size: 200%
}

.pace.pace-inactive {
    opacity: 0;
    transition: .3s;
    top: -8px
}


/* 文章页H1-H6图标样式效果 */


/* 控制风车转动速度 4s那里可以自己调节快慢 */

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 4s linear infinite;
    animation: ccc 4s linear infinite;
}


/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}


/* 设置风车颜色 */

#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}

#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0rem;
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0rem;
}


/* s设置风车hover动效 6s那里可以自己调节快慢*/

#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: var(--theme-color);
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
    color: var(--theme-color);
    -webkit-animation: ccc 6s linear infinite;
    animation: ccc 6s linear infinite;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    /* background-color: rgba(73, 177, 245, .2); */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / .3);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

body::-webkit-scrollbar {
    width: 0;
}

.neko {
    width: 64px;
    height: 64px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812db74be9.png");
    position: absolute;
    right: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(50%);
    cursor: pointer;
    font-family: tzy;
    font-weight: 600;
    font-size: 16px;
    color: #6f42c1;
    display: none;
}

.neko::after {
    display: none;
    width: 100px;
    height: 100px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 50%;
    text-align: center;
    line-height: 100px;
    top: -115%;
}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: #333;
}


/**
 * @description: 滚动条样式  跟猫二选一
 */

@media screen and (max-width:992px) {
     ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important
    }
     ::-webkit-scrollbar-track {
        border-radius: 2em;
    }
     ::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / .3);
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
        border-radius: 2em
    }
     ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}

@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";

/* 灯笼 Start */

* {
    box-sizing: border-box;
}


/* 移动端显示/隐藏 /none/block，可自定义显示一个 */

@media screen and (max-width: 970px) {
    .d-box1 {
        display: none;
    }
    .dengl .d-box {
        right: 0px;
        top: -40px;
        /* 自定义灯笼大小 */
        transform: scale(0.4);
    }
}

.dengl {
    position: fixed;
    z-index: 9;
}


/* .d-box,.d-box1{
    z-index: 9;
  } */

.d-box {
    position: fixed;
    /* 自定义灯笼的位置 */
    right: 85px;
    top: 0;
    /* 自定义灯笼大小 */
    transform: scale(0.8);
}

.d-box1 {
    position: fixed;
    /* 自定义灯笼的位置 */
    left: 0;
    top: 0;
    /* 自定义灯笼大小 */
    transform: scale(0.8);
}


/* 修改灯笼的字体 */

.d-box .d1::after {
    content: '虎年大吉';
}

.d-box1 .d1::after {
    content: '万事顺遂';
}

.d-box1 .d1,
.d-box1 .d2,
.d-box1 .d1::after,
.d-box1 .d1::before,
.d-box1 .d2::after,
.d-box1 .d2::before,
.d-box1 .d2 ul li span,
.d-box1 .d1 ul li span {
    background-color: #f01f1a;
    border: 5px solid #5c1713;
    /* 自定义灯笼的阴影 */
    /* box-shadow: 0 5px 61px rgba(255, 240, 29, 0.88); */
}

.d1,
.d2,
.d1::after,
.d1::before,
.d2::after,
.d2::before,
.d2 ul li span,
.d1 ul li span {
    background-color: #f01f1a;
    border: 5px solid #5c1713;
    /* 自定义灯笼的阴影 */
    box-shadow: 0 5px 61px #ff1d1d;
}

.d1::after,
.d1::before {
    height: 82px;
    position: absolute;
    top: 0;
    content: '';
    font-size: 17px;
}

.d1,
.d2 {
    position: relative;
    animation: swing 4s linear infinite;
    transform-origin: top center;
}

.d1 {
    width: 160px;
    top: 100px;
    height: 90px;
    right: 0;
    border-radius: 80px/49px;
}

.d1::before {
    top: -5px;
    right: 7px;
    width: 123px;
    border-radius: 62px/52px;
}

.d1::after {
    text-align: center;
    line-height: 90px;
    color: #ffe31d;
    font-weight: 600;
    top: -5px;
    right: 35px;
    width: 69px;
    border-radius: 41px/49px;
}

.d1 span {
    position: absolute;
    top: 84px;
    left: 49px;
    width: 50px;
    height: 16px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d1 span:nth-child(2) {
    top: -17px;
    border-radius: 10px 10px 0 0;
}

.d1 p {
    position: absolute;
    top: -31px;
    left: 13px;
    width: 16px;
    height: 13px;
    border-radius: 25px;
    border: 5px solid #5c1713;
    border-bottom: 0;
}

.d1 ul {
    position: relative;
    top: 80px;
    left: 13px;
    width: 54px;
    display: flex;
}

.d1 li {
    flex: 1;
    list-style: none;
    height: 24px;
    margin: 0px 2.5px;
    width: 5px;
    border-radius: 5px;
    border-right: 3.5px solid #5c1713;
}

.d1 ul li:nth-child(3) {
    content: '';
    height: 50px;
}

.d1 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 47px;
    left: 54px;
    width: 5px;
    height: 5px;
    border-radius: 5px 5px 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d1 ul li span {
    position: absolute;
    top: 20px;
    left: 55px;
    width: 13px;
    height: 19px;
    border-radius: 14px;
}

.d2::after,
.d2::before {
    position: absolute;
    height: 128px;
    top: -3px;
    content: '';
}

.d2 {
    width: 199px;
    height: 128px;
    top: -61px;
    right: -122px;
    border-radius: 98px/70px;
}

.d2::before {
    top: -8px;
    right: 18px;
    width: 143px;
    border-radius: 69px/67px;
}


/* 自定义背景图片 */

.d2::after {
    top: -8px;
    right: 51px;
    width: 75px;
    border-radius: 57px/89px;
    background: url(https://bu.dusays.com/2021/02/03/7e1a77cf800cf.png) no-repeat;
    background-position: center;
    background-size: 92px auto;
}

.d2 span {
    position: absolute;
    top: 123px;
    left: 68px;
    width: 55px;
    height: 14px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d2 span:nth-child(2) {
    top: -16px;
    border-radius: 10px 10px 0 0;
}

.d2 p {
    position: absolute;
    top: -32px;
    left: 13px;
    width: 19px;
    height: 13px;
    border-radius: 25px;
    border: 5px solid #5c1713;
    border-bottom: 0;
}

.d2 ul {
    position: relative;
    top: 121px;
    left: 32px;
    width: 53px;
    display: flex;
}

.d2 li {
    flex: 1;
    list-style: none;
    height: 24px;
    margin: 0px 3px;
    width: 4px;
    border-radius: 7px;
    border-right: 3px solid #5c1713;
}

.d2 ul li:nth-child(3) {
    content: '';
    height: 60px;
}

.d2 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 59px;
    left: 53px;
    width: 9px;
    height: 6px;
    border-radius: 5px 5px 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d2 ul li span {
    position: absolute;
    top: 21px;
    left: 54px;
    width: 18px;
    height: 17px;
    border-radius: 20px;
}

@keyframes swing {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-13deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(13deg);
    }
    100% {
        transform: rotate(0);
    }
}


/* 灯笼 END */

@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";